## Sample .env - edit before saving.
## Unused sections should be removed.


## default ssh keypair to install
## to generate a new one, run `ssh-keygen -t rsa`

SSH_PUB="ssh-rsa <COPY YOUR PUBLIC KEY HERE> dev@box"
SSH_KEY="
-----BEGIN RSA PRIVATE KEY-----
<COPY YOUR PRIVATE KEY HERE>
-----END RSA PRIVATE KEY-----
"


## git name and email address
GIT_NAME="Dev Name"
GIT_MAIL="dev@email.com"


## jira cli config
JIRA_HOST="https://myorg.atlassian.net"
JIRA_USER="devname"
JIRA_MAIL="dev@email.com"


## custom zsh profile
ZSH_PROFILE="
alias ll='ls -Al'
"


## ipython startup script
IPY_STARTUP="
# from lib import stuff
"
